<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
  
      <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: #ef476f;"></a>
      <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: #ffd166;"></a>
      <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: #06d6a0;"></a>
      <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: #118ab2;"></a>
      <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: #073b4c;"></a>
    </div>
  </div>
</div>


